@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 15px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}


/* Home Page CSS  */

/* .top{
    width: 100% ;
}

.top p{
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 50;
    font-size: xx-large;
    padding: 63px;
    font-family: sans-serif;
    font-style: oblique;
    color: whitesmoke;
}
.top img{
    width:100%;
    color: #f2f2f2;
}

.space{
    height :fit-content ;
    width: fit-content;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px; 
    color:black;
} */
/* 
position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 50;
    font-size: xx-large;
    padding left: 2;
    margin: 2;
    padding: 63px;
    font-family: sans-serif;
    font-style: oblique;
    color: whitesmoke;
*/
.top-container{
   background-color: #fff;
   
}

.img-container{
    display:flex ;
}

.img-container img{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 70px;
    height: 250px;
    display: flex;
}

.top-container p{
    /* padding: 13px; */
    margin-top: 20px;
    margin: 25px;
    margin: left;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    font-size: large;
}

.mid-container{
    margin-top:35px;
    
}

.mid-container p1{
    font-weight: bold;
    margin-left: 48px;
    font-size: x-large;
}

.mid-container ul{
    margin-top:10px;
    margin-left: 35px;
}

.mid-container ul li a {
    color :green ;
    font-size: large;
}

/* Class IX ICSE */

.heading-container h1{
  font-size: xx-large;
    margin-top: 10px;
    /* margin-left: 30px; */
    color: darkblue;
    text-align: center;
}

.heading-container p{
  margin: 25px;
  font-size: large;
}

.main-container {
  margin: 30px;
}

.main-container ul li a {
  color:green ;
}

footer{
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  margin-top: 25px;
  /* text-align: center; */
  /* margin-top: 30px; */
  padding: 15px;
  margin: auto;
  /* margin-left: auto; */
  /* margin-right: auto;*/
}

footer p{
  margin: auto;
}


/* About Us page */

.status{
  width: 100%;
  display: flex;
}

.status h1{
  font-weight: 500;
    font-size: x-large;
    color: darkolivegreen;
    margin-left: 10px;
}

.status h2{
  font-weight: 500;
    font-family: cursive;
    font-size: x-large;
    color: darkblue;
    margin-left: 12px;
}

.message{
  margin: auto;
}

.message p{
  margin: 10px;
  font-size: larger;
}

.message h1{
  font-weight: 500;
    margin: 15px;
    font-family: cursive;
    color: brown;
}

.name-img{
  display: flex;

}

.name-img img{
  height: 140px;
    border-radius: 170px;
    margin: 10px;
}

.name-img p{
  margin-top: 55px;
  margin-left: 17px;
  font-size: x-large;
  font-family: cursive;

}

.name-img p a{
  color: cornflowerblue;
}

.join-discord{
  vertical-align: top;
  display: flex;
}

.join-discord p{
  display:inline-block;
  padding: 0px;
    margin: auto;
    font-size: 30px;
}

.join-discord p a{
  text-decoration: none;
}

.join-discord img{
  margin: revert;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 12px;
  margin-left: 12px;
  display: inline-block;
}

.mail{
  vertical-align: top;
  display: flex;
}

.mail p{
  display:inline-block;
  padding: 0px;
    margin: auto;
    font-size: 30px;
}

.mail p a{
  text-decoration: none;
  font-size: large;
}

.mail img{
  margin: revert;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 12px;
  margin-left: 12px;
  display: inline-block;
}

.contact-us h1{
  font-weight: 500;
    margin: 15px;
    font-family: cursive;
    color: brown;
}