@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #504d4d;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 15px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

/* Question Pages */

.ques-section p{
    margin: 15px;
    font-weight: bold;
    font-size: x-large;
    font-family: cursive ;
}

.ques-section p1{
    font-size: xx-large;
    font-family: cursive;
    margin-top: 15px;
    margin-left: 15px;
    color: green;
}

.explanation p{
    margin: 20px;
}

.answer-section{
    width: 100%;
}

.codeblock{
  margin-top: -25px;
  margin-left: 10px;
  color: #2b4e6c;
}

.output{
  width:100% ;
  display: flex;
}

.output img{
  margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

.credits h2{
  margin-top: 20px;
    font-weight: 500;
    font-size: x-large;
    margin-left: 20px;
    font-family: cursive;
    color: brown;
}

.name-img{
  display: flex;

}

.name-img img{
  height: 140px;
    border-radius: 170px;
    margin: 10px;
}

.name-img p{
  margin-top: 55px;
  margin-left: 17px;
  font-size: x-large;
  font-family: cursive;
  color: blue;
}

.name-img p a{
  color: cornflowerblue;
}

footer{
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  /* text-align: center; */
  /* margin-top: 30px; */
  padding: 15px;
  margin: auto;
  /* margin-left: auto; */
  /* margin-right: auto;*/
}

footer p{
  margin: auto;
}


